@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Inter:wght@300;400;500&display=swap');


h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.5px;
}

html, body {
  margin: 0;
  padding: 0;
  background: white;
}

.page {
  scroll-behavior: smooth;
  background-image: url(./brain_background_boomerang.gif);
  background-size: cover;
}

/* Full Screen Panels */
.panel {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  flex-direction: column;
  text-align: center;
}

.panel:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.panel p {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease;
  margin-top: 0.5rem;
  font-family: orbitron, sans-serif;
}

.panel:hover p {
  opacity: 1;
  max-height: 200px; /* adjust depending on paragraph length */
}

